<div class="container">
<div class="footer">

    <div class="num">
        <p>若遇到紧急问题，请拨打客服电话：0755-26652163</p>
    </div>
</div>

<div id="foot">
    <div class="foot_cont">
        <div class="fcont_top">
            <img src="{R}t2/image/flogo.png"/>
            <a href="" target="_blank"><img src="{R}t2/image/www.png"/></a>
            <div class="top_top">
                <a href="" target="_blank">用户协议</a>
                <span>|</span>
                <a href="" target="_blank">关于北极光</a>
                <span>|</span>
                <a href="" target="_blank">联系我们</a>
                <span>|</span>
                <a href="" target="_blank">商务合作</a>
                <span>|</span>
                <a href="" target="_blank">法律声明</a>
            </div>
            <div class="top_top">
                <span>网络文化经营许可证号：粤网文〔2015〕2246-495号</span>
                <span>|</span>
                <a href="" target="_blank"> 粤ICP备15071838号-2</a>

            </div>
        </div>
        <div class="fcont_mid">
            <span>健康游戏忠告：抵制不良游戏  </span>
            <span>拒绝盗版游戏</span>
            <span>注意自我保护</span>
            <span>谨防受骗上当</span>
            <span>适度游戏益脑</span>
            <span>沉迷游戏伤身 </span>
            <span>合理安排时间 </span>
            <span>享受健康生活</span>
        </div>
        <div class="fcont_fot">
            <p>Copyright © 2010-2016 iwanws. All rights reserved.深圳北极光网络科技有限公司</p>
            <span>本公司旗下所运营游戏均适合18周岁以上人群。</span>
        </div>
    </div>
</div>
</div>
</body>
</html>